.venv
venv
.dataset
.dataset2
.dataset3
dataset/
dataset2/
dataset3/
/1-colour_classification/dataset*/
/1-colour_classification/hsv_knn_model.joblib
/2-letter_classification/scrambled_cube.json
/2-letter_classification/scrambled_rotations.json
/3-solving/cube_solution_order.json